export INVOKE_RUN_PTY=1
export PYTHONBREAKPOINT=ipdb.set_trace

if [[ -f "$(poetry env info --path)/bin/activate" ]]
then
    poetry_activate_path="$(poetry env info --path)/bin/activate"
    echo "source $poetry_activate_path"
    source "$poetry_activate_path"
else
    echo "Could not activate Poetry virtualenv"
fi
