# Enable colors in invoke
export INVOKE_RUN_PTY=1
# Use ipdb as debugger
export PYTHONBREAKPOINT=ipdb.set_trace

# Using local virtualenv
source .venv/bin/activate
# Using poetry virtualenv
source $(poetry env info --path)/bin/activate
